openai==0.28.1
accelerate
asttokens
backcall
bitsandbytes
certifi
charset-normalizer
cmake
decorator
distro
exceptiongroup
executing
filelock
fsspec
huggingface-hub
idna
jedi
Jinja2
lit
MarkupSafe
matplotlib-inline
mpmath
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
packaging
parso
peft
pexpect
pickleshare
prompt-toolkit
psutil
ptyprocess
pure-eval
PyYAML
regex
requests
safetensors
scipy
sentencepiece
six
stack-data
sympy
tokenizers
torch
tqdm
traitlets
transformers
triton
typing_extensions
urllib3
wcwidth